h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.todo-title {
    padding: 5px 15px;
    border-bottom: 2px solid #000;
}

.todo-controls > div {
    display: inline;
    margin: 0 5px;
    cursor: pointer;
}

#todoManager {
    border: 1px solid #000000;
    max-width: fit-content;
}