h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.todo-title {
    padding: 5px 15px;
    border-bottom: 2px solid #000;
}

.todo-controls > div {
    display: inline;
    margin: 0px 5px;
    cursor: pointer;
    text-align: right;
}

#todoManager {
    border: 1px solid #000000;
    max-width: fit-content;
}

.todo-controls {
    display: flex;
    justify-content: end;
    padding: 2.5px 0;
    font-size: 25px;
}

#addNew {
    position: relative;
    top: 0px;
    font-size: 26px;
}